*  { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
    margin: 0;
    font-family: "Work Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;

    p {
      margin-top: 100px;
    }
  }
